a {  text-decoration: underline; color: #336699}
a:hover {	text-decoration: underline;}
.NoticeFont      { font-size: 14pt; font-weight: bold }
.RightNavTitleFont { font-size: 10pt; color: #336699; font-weight: bold }
.RightNavLinkFont { color: #000000; font-size: 10pt; font-weight: bold }
.LefttNavTitleFont {
	font-size: 10pt;
	font-weight: bold;
	color: #FFFF99;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.LeftNavLinkFont { color: #000000; font-size: 10pt; font-style: italic; 
               font-weight: bold }
.NavBullet   { color: #FFFFFF; font-size: 14px; font-style: italic }
.PollTitle   { font-size: 11pt; font-style: italic; font-weight: bold }
.PollBody    { font-size: 10pt; font-style: italic; font-weight: bold }
.FinePrint   { font-size: 8pt }
.FormCaptionFont {  }
.RequiredFont { color: #FF0000; font-size: 8pt; font-weight: bold }
.ErrorFont   { color: #FF0000 }
.BulletFont  {  }
.PageBody    { font-family: Arial,Helvetica,sans-serif; font-size: 10pt }
.ThankYouFont { font-size: 24pt; font-style: italic; font-weight: bold }
.TestimonialQuoteFont {  }
.TestimonialNameFont {  }
.TestimonialTitleFont {  }
.arial_main_black {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; color: #000000}
.arial_main_black_bold {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight:bold; color: #000000}
.arial_main_black_large_bold {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; color: #000000}
.arial_main_black_large {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; color: #000000}
.arial_main_red_bold {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #FF0000}
.arial_main_blue { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #336699}
.arial_main_blue_small_bold { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: bold; color: #336699}
.arial_main_blue_large_bold { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; color: #336699}
.arial_main_white { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #FFFFFF}
.arial_main_red_large_bold { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #CC3333}
.input {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; line-height: 10px; color: #333333}
.input1 {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #000000}
.arial_small_black {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #000000}
.arial_small_white {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; color: #ffffff}
.arial_main_blue_bold { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: bold; color: #336699 }
.submit_button { font-family: Arial, Helvetica, sans-serif; font-size: 14pt }
.submit_button_smallText { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold }
.arial_main_gray { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; color: #CCCCCC}
.arial_small_black11 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; color: #000000 }
.arial_small_black11Bold { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; font-weight: bold; color: #000000 }
.arial_small_blue11 { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; color: #336699}
.MicroSemiWhite1 {FONT: 0pt Verdana, Arial, Helvetica, Sans Serif; COLOR: #fdfdfd; TEXT-DECORATION: none}

a.nav-home1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336699;
	text-decoration: none;

}
a.nav-home1:hover {
	text-decoration: underline;
}
.left-nav1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFF00;
}
a.nav-left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #DFDFDF;
	text-decoration: none;
}
a.nav-left:hover {
	text-decoration: underline;
	color: #FFFFFF;

}
H1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: Black;
}
H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: Black;
}
